<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>779573074136-p5gluomtu3c9broo5vcnk86ekplbm9of.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.779573074136-p5gluomtu3c9broo5vcnk86ekplbm9of</string>
	<key>API_KEY</key>
	<string>AIzaSyCDH97csBAnaoGfK4D6HprF5sNoi7_nOIA</string>
	<key>GCM_SENDER_ID</key>
	<string>779573074136</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.twodot.Busy-Bee</string>
	<key>PROJECT_ID</key>
	<string>busy-bee-480f7</string>
	<key>STORAGE_BUCKET</key>
	<string>busy-bee-480f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:779573074136:ios:e375ea4612394b5a39dfad</string>
	<key>DATABASE_URL</key>
	<string>https://busy-bee-480f7-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>